{
    "extends": [
        "plugin:@wordpress/eslint-plugin/esnext"
    ],
    "env": {
        "browser": true
    },
    "rules": {
        // Override default settings just for this directory (I hope)
        "comma-dangle":"off"
    }
}
