a {
  display: block;
  padding: .25rem .25rem .25rem 1.5rem;
  color: $color__link;
  text-decoration: none;
  font-weight: 500;

  &:visited {
	color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
	  background-color: $color__link-hover;
	  color: $color__background-body;
	}
	&:focus {
	  outline: thin dotted;
	}
	&:hover,
	&:active {
	  outline: 0;
	}
}
