nav {
  width: 50%;
  height: 100vh;
  margin-top: 4.2rem;
  line-height: 1.5;
  border: 1px solid $color__border-button;

  form {
	&.search-form {

	  input {
		margin-left: 1.5rem;

		&.search-field {
		  max-width: 80%;
		}
	  }
	}
  }

  ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: $color__background-body;

	li {

	}
  }

  /* display: flex;
  position: relative;
  width: calc( 100vw - 3.12rem );
  height: 100vh;
  top: 121px;
  -webkit-box-shadow: -4px 0 20px 0 rgba( 0, 0, 0, 0.5 );
  box-shadow: -4px 0 20px 0 rgba( 0, 0, 0, 0.5 ); */

  /* .contents {
	position: relative;
	background-color: $color__background-body;

	ul {
	  list-style: none;
	  margin: 0;
	  padding: 0;

	  &.mobile {
		> li {
		  border-bottom: 1px solid $color__brand-orange;

		  &:first-child {
			border-top: 1px solid $color__brand-orange;
		  }
		  > a {
			color: $color__brand-black-coral;
			font-weight: 500;
			padding: 10px 15px;
			display: block;

			&:hover {
			  background-color: $color__brand-orange;
			  color: $color__background-body;
			}
		  }
		  &.menu-item-has-children {
			> a {
			  &::after {
				content: "»";
				color: $color__brand-black-coral;
				font-size: 11px;
				margin-left: 4px;
				position: relative;
			  }
			}
			&.expanded {
			  > a {
				&::after {
				  content: "»";
				  color: $color__brand-black-coral;
				  font-size: 11px;
				  margin-left: 4px;
				  position: relative;
				}
			  }
			}
		  }
		  ul.sub-menu {
			list-style: none;
			display: none;

			li {
			  a {
				font-weight: 500;
				color: $color__brand-black-coral;
				font-size: 1rem;
				padding: 10px 30px;
				display: block;
				line-height: 1.1em;
			  }
			  &:first-child {
				a {
				  // padding-top: 0;
				}
			  }
			}
			// display: none;
		  }
		}
	  }
	}
  }
  .menu-toggle,
  .main-navigation.toggled ul {
	display: block;
  }

  @media screen and (min-width: 37.5em) {

	.menu-toggle {
	  display: none;
	}
	.main-navigation ul {
	  display: flex;
	}
  }

  .comment-navigation,
  .posts-navigation,
  .post-navigation {

	.site-main & {
	  margin: 0 0 1.5em;
	}
	.nav-links {
	  display: flex;
	}
	.nav-previous {
	  flex: 1 0 50%;
	}
	.nav-next {
	  text-align: end;
	  flex: 1 0 50%;
	}
  }

  @include respond-above(md) {
	.main-navigation {
	  display: flex;
	  flex-flow: row nowrap;
	  justify-content: space-around;
	  flex-basis: 300px;
	  align-items: center;
	  color: #fff;

	  ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
		  box-shadow: 0 3px 3px rgba( 0, 0, 0, 0.2 );
		  float: left;
		  position: absolute;
		  top: 100%;
		  left: -999em;
		  z-index: 99999;

		  ul {
			left: -999em;
			top: 0;
		  }
		  li {

			&:hover > ul,
			&.focus > ul {
			  display: block;
			  left: auto;
			}
		  }
		  a {
			width: 200px;
		  }
		  :hover > a,
		  .focus > a {
		  }
		  a:hover,
		  a.focus {
		  }
		}
		li:hover > ul,
		li.focus > ul {
		  left: auto;
		}
	  }
	  li {
		position: relative;
		background-color: #00f;

		&:hover > a,
		&.focus > a {
		}
	  }
	  a {
		display: block;
		text-decoration: none;
	  }
	  .current_page_item > a,
	  .current-menu-item > a,
	  .current_page_ancestor > a,
	  .current-menu-ancestor > a {
	  }
	  button {
		color: black;
		background-color: #000;
		border-radius: 0.25rem;
		padding: 1em 1.5em;
	  }
	}
  } */
}

/*  .container {

   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: flex-end;
   justify-content: space-between;
   padding: 2.4em 0 0;
   position: relative;

   a.logo {
	 padding-bottom: 2.4em;
	 position: relative;
	 top: -0.5em;

	 img {
	   width: 180px;
	   height: auto;
	 }
   }
   button.hamburger {
	 padding: 0;
	 position: absolute;
	 top: -100px;
	 right: 0;
	 z-index: 4;

	 &:focus {
	   outline: 0;
	 }
   }
   ul {
	 &#menu-utility-nav {
	   list-style: none;
	   margin: 0;
	   padding: 0;
	   width: 100%;
	   text-align: right;
	   display: none;

	   li {
		 display: inline-block;

		 a {
		   color: #000;
		   font-weight: 300;
		   font-size: 15px;

		   &:hover {
			 text-decoration: underline;
		   }
		 }
		 &.phone {
		   a {
			 color: $color__brand-orange;
			 font-weight: 500;
		   }
		 }
		 &.search {
		   a {
			 &::before {
			   font-family: "Font Awesome 5 Pro";
			   font-size: 16px;
			   margin-right: 10px;
			   color: $color__brand-orange;
			   font-weight: 900;
			   padding-left: 0;
			   content: "\f002";

			   @include transition(padding-left, 0.15s, linear);
			 }
		   }
		 }
		 &::after {
		   content: "|";
		   color: #d7d7d7;
		   margin: 0 15px;
		   font-weight: 300;
		 }
		 &:last-child {
		   &::after {
			 display: none;
		   }
		 }
	   }
	 }
	 &#menu-main-nav {
	   list-style: none;
	   margin: 0;
	   padding: 0;
	   position: relative;
	   top: -0.5em;
	   display: none;

	   li {
		 display: inline-block;
		 margin-left: 1.75em;
		 position: relative;
		 padding: 1.8em 0;

		 &:first-child {
		   margin-left: 0;
		 }
		 a {
		   color: #000;
		   font-weight: 500;
		   font-size: 17.5px;

		   &:hover {
			 text-decoration: underline;
		   }
		 }
		 &:not(.btn) {
		   a {
			 padding: 5px 0;
			 margin: -5px;
		   }
		 }
		 &.menu-item-has-children {
		   > a {
			 &::after {
			   content: "\25BC";
			   color: $color__brand-orange;
			   font-size: 11px;
			   margin-left: 4px;
			 }
		   }
		 }
		 &.btn {
		   padding: 0;

		   &:last-child {
			 margin-left: 0.75em;

			 a {
			   padding: 0.35em 2.3em !important;
			 }
		   }
		   a {
			 font-size: 16px;
			 border: 2px solid $color__brand-orange;
			 border-radius: 5px;
			 padding: 0.35em 0.5em !important;

			 @include transition(all, 0.15s, linear);

			 &:hover {
			   text-decoration: none;
			   background-color: $color__brand-orange;
			   color: $color__background-body;

			   &::before {
				 color: $color__background-body;
			   }
			 }
		   }
		   &.blue {
			 a {
			   background-color: $color__brand-orange;
			   color: $color__background-body;

			   &:hover {
				 background-color: $color__brand-orange;
				 border-color: $color__brand-orange;

				 &::before {
				   color: $color__background-body;
				 }
			   }
			 }
		   }
		 }
		 &.location {
		   padding: 0;
		   margin-left: 1.55em;

		   a {
			 &::before {
			   font-family: "Font Awesome 5 Pro";
			   font-size: 16px;
			   margin-right: 10px;
			   color: $color__background-body;
			   font-weight: 900;
			   padding-left: 0;
			   content: "\f3c5";

			   @include transition(all, 0.15s, linear);
			 }
		   }
		 }
		 &.call {
		   // padding: 0;
		   margin-left: 0.7em;

		   a {
			 &::before {
			   font-family: "Font Awesome 5 Pro";
			   font-size: 16px;
			   margin-right: 10px;
			   color: $color__brand-orange;
			   font-weight: 900;
			   padding-left: 0;
			   content: "\f879";

			   @include transition(all, 0.15s, linear);
			 }
		   }
		 }
		 ul.sub-menu {
		   position: absolute;
		   background-color: $color__background-body;
		   z-index: 2;
		   margin: 0;
		   padding: 0;
		   width: 250px;
		   top: 3em;
		   display: none;

		   li {
			 display: block;
			 margin-left: 0;
			 line-height: 1em;
			 margin-bottom: 0;
			 padding: 0;
			 overflow: hidden;

			 &:last-child {
			   margin-bottom: 0;

			   a {
				 padding: 0.55em 20px 0.55em;
			   }
			 }
			 &:first-child {
			   margin-bottom: 0;

			   a {
				 padding: 0.55em 20px 0.55em;
			   }
			 }
			 a {
			   font-weight: 400;
			   display: block;
			   line-height: 1.15em;
			   padding: 1em 20px;

			   @include transition(all, 0.15s, linear);

			   &:hover {
				 background-color: $color__brand-orange;
				 color: $color__background-body;
				 text-decoration: none;
			   }
			 }
		   }
		 }
		 &:hover {
		   ul.sub-menu {
			 display: block;
		   }
		 }
	   }
	 }
   }
 }

*/
