nav {
  width: 50%;
  height: 100vh;
  background-color: $color__background-body;
  margin-top: 4.2rem;
  border: 1px solid $color__background-hr;
  line-height: 1.5;

  .widget_search {
	margin-bottom: 1em;
	form {
	  &.wp-block-search {
		border-bottom: 1px solid $color__background-hr;

		div.wp-block-search__inside-wrapper {
		  padding-top: .125em;
		  border: none;
		  input {
			&#wp-block-search__input-1 {
			  background-color: inherit;
			  padding: 0;
			}
		  }
		  button{
			&.wp-block-search__button{
			  &.has-icon {
				background-color: inherit;
				padding-right: 0;
				padding-left: 0;
				border: none;
				margin-right: .5em;
				margin-left: 0;
			  }
			}
		  }
		}
	  }
	}
  }

  ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	//background-color: $color__background-body;

	li {

	}
  }
}
