$min-width: 320px;
$max-width: 1280px;
$min-font: 16px;
$max-font: 24px;

html {
	@include fluid-font($min-width, $max-width, $min-font, $max-font);
}

body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	font-size: 1em;
	line-height: $font__line-height-body;
}

@import "headings";
@import "copy";
